# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Cris\Documents\CRIS IMPORTANTES\TECNO\7mo SEMESTRE\Ing. Software\junit5-samples-r5.7.0\parseador\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
